<!DOCTYPE html>
    <html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    
    
    
    .column {
      float: left;
      width: 100%;
      padding: 10px;
      height: 300px; 
    }
    
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
 </style>

    </head>
    <body>
        <div class="row">
            <div class="column" style="background-color:rgb(17, 171, 243);">
        <h2> Items added to Cart successfully!</h2><br>
        <h3> We just need some information then youll be one step closer to the mountain!</h3>
        </div>
        <div class="column" style="background-color:#aaa;">
        <a href="/newperson"><button>click here to proceed to Information Entry</button></a>
        </div></div>
    
    

    </body>
    </html>